body {
  font-family: sans-serif;
  padding: 2rem;
}

button {
  margin: 0 0.5rem;
  font-size: 16px;
  padding: 0.5em 1.0em;
  background: #eee;
}

table {
  margin: 1rem;
}

td {
  padding: 0 1rem;
}

