body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 24px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav {
  font-size: 14px;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  background: #eee;
  padding: 0 16px;
  border-bottom: 1px solid #ddd;
  margin: -24px -24px 0;
}

nav a {
  color: black;
  font-weight: 600;
  text-decoration: none;
  padding: 12px 12px;
  display: inline-block;
}

a.active {
  color: rgb(179, 32, 93);
  background-color: white;
}

nav a:hover {
  text-decoration: underline;
}

button {
  margin: 0 0.5rem;
  font-size: 16px;
  padding: 0.5em 1.0em;
  background: #eee;
}

table {
  margin: 1rem;
}

td {
  padding: 0 1rem;
}

