body { 
  font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}

a {
  color: #0f8cff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

p {
  line-height: 1.5;
  margin-top: 2rem;
}

button {
  margin: 0.2rem 0.5rem;
  font-size: 16px;
  padding: 0.5em 1.0em;
  background: #eee;
  box-shadow: 0 2px 0px rgba(0,0,0,0.15);
  border: 1px solid #ccc;
  border-top: none;
  border-radius: 4px;
}

button:focus {
  outline: none;
}

button:hover {
  background-color: #f4f4f4;
}

button:active {
  background-color: #f8f8f8;
  box-shadow: 0 -2px 0 rgba(0,0,0,0.15);
  border-color: #ddd;
}

button.active {
  font-weight: bold;
}

table {
  margin: 1rem;
}

td {
  padding: 0 1rem;
}

.text-center { text-align: center; }
